################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EFDemo/.vs/EFDemo/FileContentIndex/23092d24-6381-4b4b-a65a-329c78913e48.vsidx
/EFDemo/.vs/EFDemo/FileContentIndex/2604d2de-1022-431f-9df2-4beb42714292.vsidx
/EFDemo/.vs/EFDemo/FileContentIndex/956afdb3-a0a2-4863-9356-6480aa6cf09f.vsidx
/EFDemo/.vs/EFDemo/FileContentIndex/a16e7961-9ad7-474d-ba25-8bc83e9db753.vsidx
/EFDemo/.vs/EFDemo/FileContentIndex/b466e43c-ae01-480c-b165-15bdb2663f83.vsidx
/EFDemo/.vs/EFDemo/FileContentIndex/7ec0ebdd-be39-4cb2-95b6-7f14a47f1466.vsidx
/EFDemo/.vs/EFDemo/FileContentIndex/a918f519-10c5-4a99-b360-7bbd1efac126.vsidx
